.menu {
  background-color: $primary;
  min-height: 60px;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  padding: 0 2rem;
  color: white;

  @media screen and (max-width: 960px) {
    display: none;
  }
}
