@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700&display=swap');

@import './Colors';
@import './Mixins';

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #e5e5e5;
}

@import './Button';
@import './Menu';
@import './variables';
@import './Input';
@import './Collapse';
@import './invoice';
.main-container {
  .navbar-container {
    background-color: $primary-color;
    width: 100%;
    height: 60px;
    color: #ffffff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
    .white-color {
      margin-right: 15px;
      color: #ffffff;
      text-decoration: none;
      font-weight: 700;
      &:hover {
        color: #cfcfcf;
        // background-color: lighten($primary-color, 10);
      }
    }
  }

  .body-container {
    display: flex;
    flex-direction: row;
    .left-container {
      background-color: $primary-color;
      width: 90px;
      height: 710px;
    }
    .payment-container {
      padding: 5px;
      flex: 1;
      width: 1198px;
      height: 710px;
    }
    .right-container {
      background-color: rgb(212, 211, 211);
      width: 78px;
      height: 710px;
      // border-left: 1px solid #dddddd;
    }
  }
}
